{
"guest_username": "judd",
"user_sshpubkey": "charles in charge",
"git_user_name": "Judd Maltin",
"git_user_email": "judd_maltin@dell.com",
"github_id": "juddmaltin-dell",
"github_password": "",
"github_repo": "https://github.com/crowbar/crowbar.git",
"#github_extra_remotes": {
	"dellcloudedge": [ "https://github.com/dellcloudedge/crowbar.git", "50" ]
	},
"shared_dir_guest": "/mnt/VMSharedDir/",
"shared_dir_host": "/VMs/VMSharedDir/",
"iso_library": "/mnt/VMSharedDir/",
"iso_dest": "/mnt/VMSharedDir/ISOs",
"guest_hostname": "crowbar-dev",
"guest_hostonly_ip": "192.168.124.5",
"host_network_bridge_interface": "eth0",
"guest_http_proxy": "http://127.0.0.1:8123",
"guest_https_proxy": "http://127.0.0.1:8123",
"guest_parent_proxy": "http://10.0.2.2:8123",
"guest_cpus": "1",
"guest_ram": "1024",
"guest_timezone": "America/New_York",
"guest_extra_packages": "",
"box_name": "ubuntu64-12.04.1",
"box_url": "https://dl.dropbox.com/u/9764728/boxes/ubuntu64-12.04.1.box",
"guest_use_cntlm": "",
"win_domain_username": "judd_maltin",
"win_domain_name": "AMERICAS",
"win_domain_password": "its the most wonderful time of the year",
"win_domain_proxy": "proxy.us.dell.com:80",
"polipo_mode": "work",
"rubys_to_install": "1.9.3 1.8.7",
"ruby_default_version": "1.9.3"
}

